/* цвет фона и рамки навигационного меню */
.navbar-inverse {
    border-color: #333333 !important;
    background-color: #333333;
    border-color: #E7E7E7;
    border-top: 3px solid #e53935 !important;
}
/* цвет текста, содержащий название сайта или бренда */
.navbar-inverse .navbar-brand {
    color: #e53935;
    font-size: 26px;
    font-weight: 600;
}
/* цвет текста (название сайта или бренда), при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #fff;
}
/* Цвет пунктов навигационного меню */
.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    transition: all 0.3s ease;
}
/* Цвет пункта меню, при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    background-color: #e53935 !important;
    color: #fff;
    font-weight: 500;
}
/* Цвет и фон активного пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #E0E0E0;
    background-color: #E7E7E7;
}
/* Цвет и фон открытого пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #E0E0E0;
}
/* Цвет стрелочки (треугольничка) у раскрывающихся пунктов меню */
.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
/* Цвет стрелочки (треугольничка) при поднесении к нему курсора мышки или при его нахождении в фокусе */
.navbar-inverse .navbar-nav > .dropdown > a:hover .caret,
.navbar-inverse .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
/* Цвет стрелочки (треугольничка), открывшегося пункта меню */
.navbar-inverse .navbar-nav > .open > a .caret, 
.navbar-inverse .navbar-nav > .open > a:hover .caret, 
.navbar-inverse .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* CSS стили для мобильных устройств */
/* Цвет фона кнопки (которая открывает меню) при поднесении к ней курсора мышки или при нахождении её в фокусе */
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: none;
}
.navbar-inverse .navbar-toggle:hover .icon-bar,
.navbar-inverse .navbar-toggle:focus .icon-bar {
   background-color: #e53935
}

/* Цвет полосочек в кнопочке, которая открывает меню */
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #CCC;
}
.navbar-inverse .navbar-toggle {
    border:0px;
}

.logo {

    display: block;
    height: 50px;
    width: 40px;
    float: left;
    position: relative;
}
.logo img {

    width:30px;
    height: auto;
    position: absolute;
    top: -4px;
}

@media (max-width: 767px) {
/* Цвет пунктов меню в раскрывающихся списках */
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
/* Цвет и фон пункта меню в раскрывающихся списках, при поднесении к нему курсора мышки или при нахождении его в фокусе */
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
}

